
{% extends "book/book.html" %}

{% load static %}

{% block extra-style %}
    <style>
        .fa.fa-heart-o.active  {
            color: #f00 !important;
        }
        .masking-hover, .imageBox .productImage .productMasking.end, .whiteSection .featuredProducts .slide .productImage .productMasking, .mainContent .featuredProducts .slide .productImage .productMasking, .productsContent .productBox .productImage .productMasking.end, .whiteSection .featuredCollection .thumbnail .imageWrapper .masking, .mainContent .featuredCollection .thumbnail .imageWrapper .masking, .productListSingle .media .media-left .maskingImage {
            background-color: rgba(244, 92, 93, 0.9) !important;
        }
    </style>
{% endblock %}

{% block sub_category %}
{{ block.super }}
{% endblock %}

{% block sort %}
{{ block.super }}
{% endblock %}

{% block ajax %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#sort').click(function(){
            var pk = $('.select-drop option:selected').val()
            
            $.ajax({
                type: 'GET',
                url : "{% url 'book:room_sort' slug_sub %}",
                data: {'pk':pk},
                success: function(data){
                    $('#room_list').html(data)
                }
            });
            $('.select-drop').append('<option value="0">전체</option>')
            $('.select-drop').append('<option value="1">인원 모집 중</option>')
            $('.select-drop').append('<option value="2">마감 임박</option>')
            $('.select-drop').append('<option value="3">마감</option>')
        });
    });
</script>
{% endblock %}

{% block grid %}
<button type="button" class="btn btn-default active" onclick="window.location.href='{% url 'book:room_list' slug_main slug_sub %}'"><i class="fa fa-th" aria-hidden="true"></i><span style="font-size:14px;">독서방</span></button>
{% endblock %}
{% block list %}
<button type="button" class="btn btn-default" onclick="window.location.href='{% url 'book:book_list' slug_main slug_sub page %}'"><i class="fa fa-th-list" aria-hidden="true"></i><span>도서</span></button>
{% endblock %}
    
{% block item_list %}
<div id="room_list">
<div class="row">
    {% for room in rooms %}
    <div class="col-md-6 col-lg-4">
      <div class="productBox">
        <div class="productImage clearfix">
          <img src="{{ room.image }}" style="border-radius:7px;" alt="products-img">
          
          {% if 0 >= room.d_day or room.user|length == room.full %}
          <div class="productMasking end">
          {% else %}
          <div class="productMasking">
          {% endif %}
            {% if 0 >= room.d_day or room.user|length == room.full %}
            <ul>
              <h3 style="font-size:13px; color:#a52a2a;">이미 마감된 방입니다.</h3>
            </ul>
            {% else %}
            <h3 style="color:#fff; padding-top:60px; padding-left:41px;">D-{{ room.d_day }}</h3>
            <ul class="list-inline btn-group" role="group">
              <!-- wish button -->  
              {% if user.email in room.wish %}
              <li><a id="wish_fade{{ room.pk }}" class="btn btn-default"><div id="wish_div_fade{{ room.pk }}"><i class="fa fa-heart-o active"></i></div></a></li>
              {% else %}
              <li><a id="wish_fade{{ room.pk }}" class="btn btn-default"><div id="wish_div_fade{{ room.pk }}"><i class="fa fa-heart-o"></i></div></a></li>
              {% endif %}
              <!-- 방 가입 버튼 -->  
              {% if not user.is_active %}
              <li><a class="btn btn-default" data-toggle="modal" data-target=".login-modal"><i class="fa fa-sign-in"></i></a></li>
              {% elif user.email in room.user or user.email == room.leader %}
              <li><a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-check"></i></a></li>
              {% else %}
              <li><a id="inside_fade{{ room.pk }}" href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="안내" data-toast-message="독서 모임에 합류하셨습니다." class="btn btn-default"><div id="inside_div_fade{{ room.pk }}"><i class="fa fa-sign-in"></i></div></a></li>
              {% endif %}
              <!-- 자세히보기 --> 
              <li><a class="btn btn-default" data-toggle="modal" href="#room{{ room.pk }}" ><i class="fa fa-eye"></i></a></li>
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="productCaption clearfix">
          <a href="{{ room.get_absolute_url }}">
            <h5>{{ room.subject }}</h5>
          </a>
          {% if 0 >= room.d_day or room.user|length == room.full %}
          <h3 style="font-size:14px; color:#a52a2a;">마감</h3>
          {% elif user.email in room.user or user.email == room.leader %}
          <h3>{{ room.user|length }}/{{ room.full }}&nbsp;&nbsp;<span style="color:#47bac1; font-size:14px;">이미 가입된 방입니다.</span></h3>
          {% elif 10 >= room.d_day %}
          <h3>{{ room.user|length }}/{{ room.full }}&nbsp;&nbsp;<span style="color:#47bac1; font-size:14px;">마감임박</span></h3>
          {% elif room.d_day > 10 %}
          <h3>{{ room.user|length }}/{{ room.full }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#wish{{ room.pk }}, #wish_fade{{ room.pk }}').click(function(){
                $.ajax({
                    type: 'GET',
                    url : "{% url 'book:wish_room' slug_sub room.pk %}",
                    success: function(data){
                        $('#wish_div_fade{{ room.pk }}').html(data)
                    }
                });
            });
        });
        
        $(document).ready(function(){
            $('#inside_fade{{ room.pk }}').click(function(){
                $.ajax({
                    type: 'GET',
                    url : "{% url 'book:room_in' slug_sub room.pk %}",
                    success: function(data){
                        $('#inside_div_fade{{ room.pk }}').html(data)
                    }
                });
            });
        });
    </script>
    {% endfor %}
</div>
</div>
{% endblock %}
