
{% if score == 5 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score > 4 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score == 4 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score > 3 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score == 3 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score > 2 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score == 2 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score > 1 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score == 1 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% elif score > 0 %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% else %}
<ul class="text-warning d-flex mb-1">
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1"><i class="fa fa-star-o" aria-hidden="true"></i></li>
   <li class="mr-1" style="padding-left:10px;">({{ score }}점 예상)</li>
</ul>
{% endif %}




