{% extends "base.html" %}

{% block extra-style %}{% endblock %}

{% block profile %}<li class="nav-item dropdown active">{% endblock %}

{% load static %}
    
{% block banner %}{% endblock %}
    
{% block main %}
<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>나의 독서방</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a href="{% url 'home' %}">홈</a>
                </li>
                <li class="active">나의 독서방</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group" role="group" aria-label="...">
                <a href="{% url 'profile:profile' %}" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>프로필</a>
                <a href="{% url 'profile:room' %}" class="btn btn-default active"><i class="fa fa-list" aria-hidden="true"></i>나의 독서방</a>
                <a href="{% url 'profile:wishlist' %}" class="btn btn-default"><i class="fa fa-heart" aria-hidden="true"></i>좋아요</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="innerWrapper">
                <div class="orderBox">
                  <h2>나의 독서방</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>방 제목</th>
                          <th>인원수</th>
                          <th>D-day</th>
                          <th>책 제목</th>
                          <th>상태</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for room in rooms %}
                        <tr>
                          <td>{{ room.subject }}</td>
                          <td>{{ room.get_user_num }}명</td>
                          {% if room.d_dead > 0 %}
                          <td>D-{{ room.d_dead }}</td>
                          {% else %}
                          <td><span style="color:#a52a2a;">마감</span></td>
                          {% endif %}
                          <td>{{ room.get_book_title }}</td>
                          {% if 0 >= room.d_dead %}
                          <td><span class="badge badge-success">완료</span></td>
                          {% elif 0 >= room.d_day or room.get_user_num >= room.full %}
                          <td><span class="badge badge-primary">진행중</span>&nbsp;<span class="badge badge-danger">인원모집 마감</span></td>
                          {% else %}
                          <td><span class="badge badge-primary">진행중</span></td>
                          {% endif %}
                          <td><a href="{{ room.get_absolute_url }}" class="btn btn-sm btn-secondary-outlined">자세히보기</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}