
{% extends "base.html" %}

{% block extra-style %}{% endblock %}

{% block login %}<li class="nav-item dropdown active">{% endblock %}

{% load static %}
    
{% block banner %}{% endblock %}

{% block main %}
<!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>로그인</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-right">
                <li>
                  <a href="index.html">Pages</a>
                </li>
                <li class="active">로그인</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix logIn">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 col-xl-7 col-12">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>로그인</h3></div>
                <div class="panel-body">
                  {% if form.errors %}
                  <div class="alert alert-danger w-100" >
                    <span style="font-size:12px;">{{ form.errors }}</span>
                  </div>
                  {% endif %}
                  <form action="#" method="POST" role="form">{% csrf_token %}
                    <div class="form-group">
                      <label for="">이메일</label>
                      {{ form.username }}
                    </div>
                    <div class="form-group">
                      <label for="">비밀번호</label>
                      {{ form.password }}
                    </div>
                    <div class="form-check ">
                      <input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox">
                      <label for="checkbox-1" class="checkbox-custom-label form-check-label">Remember me</label>
                    </div>
                    <input type="submit" class="btn btn-primary btn-default btn-block" value="로그인"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button type="button" class="btn btn-link btn-block">비밀번호를 잊으셨나요?</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}